<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSCameraUsageDescription</key>
	<string>ASTN needs camera access to let you add a profile picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ASTN needs photo library access to let you select a profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>magistral.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Black</string>
		<key>UIImageName</key>
		<string>ASTN_LaunchLogo</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
